<!-- /*
============================================
; Title:  home.component.html
; Author: Loren Wetzel
; Modified By:
; Date:   18 March 2020
; Description: home component html
;===========================================
*/ -->


<div class="myContainer">

<div fxLayout="row">
  <h2 class="title"> Hey {{name}}, here are your tasks.</h2>
  <div fxFlex></div>
  <button mat-button (click)="openDialog()">Create task</button>
</div>

<div fxLayout="row" fxLayoutGap="20px" >

  <div fxFlex>
    <mat-card>
      <mat-card-title class="title">
        ToDo
      </mat-card-title>
      <hr>

      <mat-card-content>
        <mat-list
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
          mat-list>

          <mat-list-item class="example-box" *ngFor="let item of todo" cdkDrag>{{item.text}}
            <div fxFlex></div>

            <button mat-icon-button [matMenuTriggerFor]="deleteTask" class="ml-xs">
              <mat-icon class="icon">menu</mat-icon>
            </button>

            <mat-menu #deleteTask="matMenu" x-position="before">
              <button (click)="deleteOne(item._id)" mat-menu-item>
                Remove
              </button>
            </mat-menu>

            <mat-divider></mat-divider>
          </mat-list-item>

        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card>
      <mat-card-title class="title">
        Done
      </mat-card-title>
      <hr>

      <mat-card-content>
        <mat-list
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)" mat-list>

          <mat-list-item class="example-box" *ngFor="let item of done" cdkDrag>{{item.text}}
            <div fxFlex></div>

            <button mat-icon-button [matMenuTriggerFor]="deleteTask" class="ml-xs">
              <mat-icon class="icon">menu</mat-icon>
            </button>

            <mat-menu #deleteTask="matMenu" x-position="before">
              <button (click)="deleteOne(item._id)" mat-menu-item>
                Remove
              </button>
            </mat-menu>

            <mat-divider></mat-divider>
          </mat-list-item>

        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

</div>
</div>
