mat-card {
  background-color: yellow;
  /* margin-top: 15%; */
  width: 50%;
  /* margin-left: 25%; */
  margin: 15% auto 0;
}
mat-card-title {
  text-align: center;
  font-size: 48px;
}
mat-card-subtitle {
  text-align: center;
}
mat-card-content {
  text-align: center;
}
h1{
  color: red;
  font-weight: bolder;
}
