<h2 mat-dialog-title>Create a task</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field style="width: 350px;">
    <input matInput
      placeholder="Add another task?"
      formControlName="text"
      minlength="3"
      (keydown.enter)="submit()" />
  </mat-form-field>
</mat-dialog-content>

<div fxLayout="column" style="color:df56a;" fxLayoutGap="5px">
  <small
    *ngIf="form.controls['text'].hasError('minlength') &&
    form.controls['text'].touched">
    the name must be 3 characters</small>
</div>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
  <button mat-button [disabled]="!form.valid" (click)="submit()">Save</button>
</mat-dialog-actions>
