/*
============================================
; Title:  nodebucket
; Author: Loren Wetzel
; Modified By:
; Date:   18 March 2020
; Description: css for about page
;===========================================
*/

.main-welcome {
  width: 80%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}
