/*
============================================
; Title:  nodebucket
; Author: Richard Krasso
; Modified By: Loren Wetzel
; Date:   18 March 2020
; Description: home css
;===========================================
*/
.main-welcome {
  /* margin-top: 1%; */
  margin-bottom: 0;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}
