.logo {
  margin-left: 75px;
  font-size: 24px;
  font-weight: lighter;;
}

.navbar-container {
  padding: 5px;
}
nav a:hover{
  color: #00e676;

}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

.main-content {
  /* padding-left: 5%; */

  padding-left: 30px;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
<<<<<<< HEAD
=======
  padding-left: 5%;
}
footer a{
  color: #00e676;
>>>>>>> parent of 21d350c... finished about page
}
.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}
