/*
============================================
; Title:  nodebucket
; Author: Richard Krasso
; Modified By: Loren Wetzel
; Date:   18 March 2020
; Description: base layout css
;===========================================
*/

.logo {
  /* margin-left: 75px; */
  margin-left: 10%;
  font-size: 24px;
  font-weight: lighter;
}

.navbar-container {
  padding: 5px;
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

.main-content {
  margin-left: 7%;
  margin-right: 4%;
  /* padding-left: 30px;  */
}

.footer {
  bottom: 0;
  position: absolute;
  /* position: fixed; */
  min-width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  /* padding-left: 100px; */
  letter-spacing: 3px;
  padding-left: 15%;
}

footer a {
  color: #00e676;
}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}
